{{#projects}}
<div id="modal-{{ @index }}" class="modal">
    <div class="modal__container container">
        <div class="modal__heading">
            {{!-- Add class to element if live link exists --}}
            <div {{#if Modal.LiveUrl.length }} class="modal__title has-live" {{else}} class="modal__title" {{/if}}>
                {{ Title }}
            </div>
            {{#if Modal.LiveUrl.length }}
                <a class="see__live" href="{{ Modal.LiveUrl }}" target="_blank">
                    <i class="fa fa-external-link"></i>
                    <span class="hidden-xs">Zobacz na żywo</span>
                </a>
            {{/if}}
            <a href="#" class="close__button">
                <i class="fa fa-times"></i>
            </a>
        </div>
        {{#if Modal.Content.length }}
            <div class="modal__content">
                {{ Modal.Content }}
            </div>
        {{/if}}
        {{!-- Render different image for mobile and desktop --}}
        {{ imgModal }}
    </div>
</div>
{{/projects}}
