{{#projects}}
    {{#each this}}
        <div class="col-sm-6 col-md-4 col-xlg-3">
            <a href="#{{ @key }}" class="work__box" data-id="{{ @key }}">
                <img src="{{ thumbUrl }}" alt="{{ thumbAlt }}">
                <div class="work__content">
                    {{ title }}
                </div>
            </a>
        </div>
    {{/each}}
{{/projects}}
